<h1>Inventarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Producto</th>
      <th>Almacén</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.id %></td>
        <td><%= inventory.product.name %></td>
        <td><%= inventory.warehouse.name %></td>
        <td><%= inventory.quantity %></td>
        <td>
          <%= link_to "Ver detalle", inventory_path(inventory), class: "btn btn-sm btn-primary" %>
          <%= link_to "Ajustes", inventory_inventory_adjustments_path(inventory), class: "btn btn-sm btn-secondary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
