<%= link_to products_path do %>
  <h1>Tienda DRO</h1>
<% end %>

<%= link_to "Añadir producto", new_product_path %>
<%= link_to "Categoria", categories_path %>
<%= link_to "unidades", units_path %>
<%= link_to "Inventarios", inventories_path %>
<%= link_to "Almacenes", warehouses_path %>
<%= link_to "Proveedores", suppliers_path %>
<%= link_to "Compras", purchases_path %>
<%= link_to "Clientes", customers_path %>
<%= link_to "Ventas", sales_path %>




