<%= link_to product_path(product), class: "product", "data-turbo-frame": "_top" do %>
    <h2><%= product.name %></h2>
    <span>precio: <%= product.price %>$</span>   <span>stock: <%= product.stock_for_sale %> <%= (product.sale_unit&.name || "Unidades").pluralize(product.stock_for_sale) %> </span>  <span> categoria: <%= product.category&.name || "Sin categoría"  %></span>
<% end %>  

