<h1>Productos</h1>

<% @products.each do |product| %>
  <%= link_to product_path(product), class: "product" do %>
    <h2><%= product.name %></h2>
    <span>precio: <%= product.price %>$</span>   <span>stock: <%= product.stock_quantity %></span>  <span> categoria: <%= product.category&.name || "Sin categoría"  %></span>
  <% end %>  
<% end %>